@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
}

body {
    background-color: #121212;
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ffffff;
}
.header-itens {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.header-logo {
    border-radius: 30px;
    width: 80px;
    height: 40px;
    background-color: #282828;
}
.bottom-logo {
    background: linear-gradient(to right,
            #121212 10%,
            #ffffff 50%,
            #ffffff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}
footer {
    margin-top: auto;
}
p {
    font: italic 10px Arial;
    color: #8a8a8a;
}
a {
    text-decoration: none;
}
i {
    transition: transform 0.2s ease;
}
i:hover {
    transform: scale(1.2);
}